* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.about 
{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  /* background-color: #19151a; */
  background-image: url('/public/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;

}

.about-content{
  margin: 150px;
  font-size: 20px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}


.box{
  background-image: url('/public/images/img-home.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 90vh;
  font-family: 'PT Sans', sans-serif;
}

/* App.css */

/* Global Styles */

.form {
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.success {
  margin-top: 20px;
  padding: 10px;
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  border-radius: 4px;
  display: none;
}

.error {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  border-radius: 4px;
  display: none;
}
